body{
  margin:0;
}
*{
  margin: 0;
}
.as3mbus-container{
  background-color: #DDD;
}
.as3mbus-header-container{
  background: #f60;
  height: 500px;
  width: 100%;
  margin: 0;
}

.as3mbus-header{
  background: #333;
  color: #eee;
  text-align: center;
  margin: auto;
  top: 25px;
  position: relative;
  padding: 20px 0;
}

.as3mbus-header-button{
  padding: 21px;
  border: solid 0px #AAA;
  border-width: 0px 10px 0px 0px;
}

.as3mbus-nav-container{
  background-color: #f60;
  border: 15px solid #333;
  border-width: 15px 0;
  height: 20px;
  margin: 0;
}
.as3mbus-nav{
  list-style: none;
  padding: 0;
}
.as3mbus-nav li{
  position: relative;
  left: 0;
  bottom: 13px;
  float:left;
  font-size: 1.5em;
  margin:0px 20px 0 0;
  border: solid #ffa200;
  outline: solid 2px #333;
  color: #ffa200;
  border-width: 2px;
  background:#333;
  padding:6px 10px;
}
/*.as3mbus-nav-button{
  display: inline;
  margin-top: 12px;
  padding: 5px;
  height: 100%;
  background-color: #ddf;
}*/

.as3mbus-content-container{
  height: auto;
  background-color: #ddd;

}
.as3mbus-content{
  padding: 10px;
  margin: 40px 0px;
  background-color: #fff;
}
.as3mbus-content *{
  margin: 15px;
}
.as3mbus-footer-container{
  border-top: solid 10px #888;
  height: 80px;
  background-color: #444;
}
.as3mbus-footer-text{
  float: left;
  position: relative;
  left: 30px;
  margin-top: 20px;
  font-size: 2em;
  color: #eee;
}
.as3mbus-footer-icons li{
  float: right;
  position: relative;
  right: 10px;
  list-style: none;
  margin: 0px 20px;
  top: 14px;
}
