<!DOCTYPE html>
<html>

<head>
    <title> Quest </title>
    <!-- {% include 'header.html' %} -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/first.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/gallery.css" />
</head>

<body>
    <div class="as3mbus-container">
        <!-- {% include 'nav.html' %} -->
        <div class="as3mbus-nav-container">

            <ul class="as3mbus-nav">
                <li id="home">
                    <a href="/">
                        <img id="nav-title" align="center" src="../images/Title-White.png" alt="Nice coconut tree" />
                    </a>
                </li>
                <div class="divider">
                </div>
                <li>
                    <div class="as3mbus-dropdown">
                        <span>News</span>
                        <div class="as3mbus-dropdown-content">
                            <a href="/announcement">Announcement</a>
                            <a href="/event">Event</a>
                            <a href="/updatelog">Update Log</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <span>Info</span>
                        <div class="as3mbus-dropdown-content">
                            <a href="/about">About</a>
                            <a href="/testimony">Testimony</a>
                            <a href="/documentation">Documentation</a>
                            <a href="/faq">F.A.Q.</a>
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <span>Manage</span>
                        <div class="as3mbus-dropdown-content">
                            <a href="/construction">Journal</a>
                            <a href="/construction">Find Quest</a>
                            <a href="/construction">Host Quest</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/construction">Login</a>
                </li>
            </ul>


        </div>

        <div class="as3mbus-content-container">
            <div class="as3mbus-content">
                <h1>Under Construction</h1>
                <p>We are sorry for the inconvenience, but this page is still under construction.</p>
                <p>We'll try to do what we can to build everything in time, but in the end time and body has it's limits</p>
            </div>
        </div>
        <div class="as3mbus-footer-container">
            <div class="as3mbus-footer-text">
                as3mbus - 2016

            </div>
            <ul class="as3mbus-footer-icons">
                <li><img src="../images/f.png" alt="fesbuk"></li>
                <li><img src="../images/tweet.png" alt="tweeter"></li>
            </ul>
        </div>
    </div>
    <!-- {% block content %}{% endblock %} -->
</body>
<script src="../scripts/gallery.js"></script>

</html>
