<!DOCTYPE html>
<html>

<head>
    <title> Quest </title>
    <!-- {% include 'header.html' %} -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/first.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/gallery.css" />
</head>

<body>
    <div class="as3mbus-container">
        <!-- {% include 'nav.html' %} -->
        <div class="as3mbus-nav-container">

            <ul class="as3mbus-nav">
                <li id="home">
                    <a href="/">
                        <img id="nav-title" align="center" src="../images/Title-White.png" alt="Nice coconut tree" />
                    </a>
                </li>
                <div class="divider">
                </div>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="#">News</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="/announcement">Announcement</a>
                            <a href="/event">Event</a>
                            <a href="/updatelog">Update Log</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="">Info</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="/about">About</a>
                            <a href="/testimony">Testimony</a>
                            <a href="/documentation">Documentation</a>
                            <a href="/faq">F.A.Q.</a>
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="">Manage</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="">Journal</a>
                            <a href="">Find Quest</a>
                            <a href="">Host Quest</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
            </ul>


        </div>

        <div class="as3mbus-content-container">
            <div class="as3mbus-content">
                <h1>F.A.Q.</h1>
                <h3>What is this ?</h3>
                <p>This is a productivity webapp where you can increase your
                  time efficiency for doing things by posting some work that can
                   be done by other people. At the same time you can do more thing
                    that you want instead</p>
                <h3>How this Work ?</h3>
                <p>it's simple, just create a new quest for some work that you want
                other people to do, and wait for applicant so you can do other work.
                In the mean time you can take other work from here and get extra
                reward that you deserve for doing some task</p>
                <h3>Is there any charge of doing this stuff>?</h3>
                <p>all of the feature here is free to use, but it would be really
                  appreciated if someone give us some support to keep this project
                  live, running, and developed by motivated developer </p>
                <h3>How can i support to this project ?</h3>
                <p>Everyone can support us by giving a "good" feedback. Other
                  than that support can also come in form of contribution at github.
                 Not to forgot this project can also be supported in form of donation
                 to our hardworking developer</p>
            </div>
        </div>
        <div class="as3mbus-footer-container">
            <div class="as3mbus-footer-text">
                as3mbus - 2016

            </div>
            <ul class="as3mbus-footer-icons">
                <li><img src="../images/f.png" alt="fesbuk"></li>
                <li><img src="../images/tweet.png" alt="tweeter"></li>
            </ul>
        </div>
    </div>
    <!-- {% block content %}{% endblock %} -->
</body>
<script src="../scripts/gallery.js"></script>

</html>
