<!DOCTYPE html>
<html>

<head>
    <title> Quest </title>
    <!-- {% include 'header.html' %} -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/first.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/gallery.css" />
</head>

<body>

    <div class="as3mbus-container">

        <!-- {% include 'nav.html' %} -->
        <div class="as3mbus-nav-container">

            <ul class="as3mbus-nav">
                <li id="home">
                    <a href="#">
                        <img id="nav-title" align="center" src="../images/Title-White.png" alt="Nice coconut tree" />
                    </a>
                </li>
                <div class="divider">
                </div>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="/announcement">News</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="/announcement">Announcement</a>
                            <a href="#">Event</a>
                            <a href="#">Update Log</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="">Info</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="">About</a>
                            <a href="">Testimony</a>
                            <a href="">Documentation</a>
                            <a href="">F.A.Q.</a>
                            <a href="">Contact Us</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="">Manage</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="">Journal</a>
                            <a href="">Find Quest</a>
                            <a href="">Host Quest</a>
                        </div>
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
            </ul>

          </div>

        </div>
        <div class="as3mbus-content-container">
            <div class="as3mbus-content">
              <a id="title" href="#">
                <div class="">
                  <img src="../images/Title.svg">
                  <h3>Achieve and Accomplish your Goal with Quest Manager</h3>

                </div>
              </a>
            </div>
            <div class="as3mbus-content">
                {% include 'gallery.html' %}
            </div>
            <div class="as3mbus-content">
                <h1>Quest ? </h1>
                <p>In this modern age we have forgot how simple to give an errand to someone who is willing to do it. instead we try hard looking for people that we trust and force him to do an errand that he isn't willing to do. In the it ended up with
                    one-sided benefit for errand giver. With this Quest system we hope it could give an option for other people to give errand to other people that willing to do it for certain reward</p>
            </div>
            <div class="as3mbus-content">
                <h1>Create Quest</h1>
                <p>Here you can create your own quest, publish it and manage it. there are no more explanation needed</p>
            </div>
            <div class="as3mbus-content">
                <h1>Grab some Quest</h1>
                <p>Find suitable quest that you can do, and with the reward you want. Take that quest and finish it, meet more people and do more positive thing by doing that</p>
            </div>
            <div class="as3mbus-content">
                <h1>Compete, and win Big</h1>
                <p>Start competing in bigger quest with more people to work, compete, and befriend with. Find your true potential, comrade and group with people to take on Big/Hard Quest</p>
            </div>
        </div>
        <div class="as3mbus-footer-container">
            <div class="as3mbus-footer-text">
                as3mbus - 2016

            </div>
            <ul class="as3mbus-footer-icons">
                <li><img src="../images/f.png" alt="fesbuk"></li>
                <li><img src="../images/tweet.png" alt="tweeter"></li>
            </ul>
        </div>

        <!-- {% block content %}{% endblock %} -->
</body>
<script src="../scripts/gallery.js"></script>

</html>
