<!DOCTYPE html>
<html>

<head>
    <title> Quest </title>
    <!-- {% include 'header.html' %} -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/first.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/gallery.css" />
</head>

<body>
    <div class="as3mbus-container">
        <!-- {% include 'nav.html' %} -->
        <div class="as3mbus-nav-container">

            <ul class="as3mbus-nav">
                <li id="home">
                    <a href="/">
                        <img id="nav-title" align="center" src="../images/Title-White.png" alt="Nice coconut tree" />
                    </a>
                </li>
                <div class="divider">
                </div>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="#">News</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="/announcement">Announcement</a>
                            <a href="/event">Event</a>
                            <a href="/updatelog">Update Log</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="">Info</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="/about">About</a>
                            <a href="/testimony">Testimony</a>
                            <a href="/documentation">Documentation</a>
                            <a href="/faq">F.A.Q.</a>
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="as3mbus-dropdown">
                        <a href="/construction">Manage</a>
                        <div class="as3mbus-dropdown-content">
                            <a href="/construction">Journal</a>
                            <a href="/construction">Find Quest</a>
                            <a href="/construction">Host Quest</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/construction">Login</a>
                </li>
            </ul>


        </div>

        <div class="as3mbus-content-container">
            <div class="as3mbus-content">
                <h1>Update 0.0.0.3</h1>
                <h3>Multiple Page</h3>
                <p>In this update we add content to the page other than layout page </p>
            </div>
            <div class="as3mbus-content">
                <h1>Update 0.0.0.2</h1>
                <h3>Dropdown & Gallery</h3>
                <p>In this patch we add dropdown to nav and add gallery for
                   easier access to other pages, and advertisement of big quest</p>
            </div>
            <div class="as3mbus-content">
                <h1>Update 0.0.0.1</h1>
                <h3>Layout</h3>
                <p>In this update we create initial layout of the system and it
                  still far away from perfect</p>
            </div>
        </div>
        <div class="as3mbus-footer-container">
            <div class="as3mbus-footer-text">
                as3mbus - 2016

            </div>
            <ul class="as3mbus-footer-icons">
                <li><img src="../images/f.png" alt="fesbuk"></li>
                <li><img src="../images/tweet.png" alt="tweeter"></li>
            </ul>
        </div>
    </div>
    <!-- {% block content %}{% endblock %} -->
</body>
<script src="../scripts/gallery.js"></script>

</html>
